Library/
Temp/
obj/
.vs/
Unity.TextMeshPro.csproj
Unity.TextMeshPro.Editor.csproj
Unity.ShaderGraph.Editor.csproj
Unity.RenderPipelines.Lightweight.Runtime.csproj
Unity.RenderPipelines.Lightweight.Editor.csproj
Unity.RenderPipelines.Core.ShaderLibrary.csproj
Unity.RenderPipelines.Core.Runtime.csproj
Unity.RenderPipelines.Core.Editor.csproj
Unity.Postprocessing.Runtime.csproj
Unity.Postprocessing.Editor.csproj
Unity.PackageManagerUI.Editor.csproj
Unity.CollabProxy.Editor.csproj
Unity.Analytics.DataPrivacy.csproj
TestShaderGraph2d.sln
ShaderGraphParallaxScrolling.sln
Assembly-CSharp.csproj
